---
title: Community Service
subtitle: 
description: 
---

{% extends "topbar.j2" %}

{% block container %}

#  Community Service 

  * worked annually at the [ Livermore Rodeo ](http://www.livermorerodeo.org/) from middle school through high school 
  * worked at [ San Diego's Hot Chocolate Run ](http://www.hotchocolate15k.com/sandiego)
  * worked at San Diego's breast cancer walk in Balboa Park 
  * worked at the 2013 [ Wreaths Across America ](http://www.wreathsacrossamerica.org/) in San Diego 

{% endblock container %}
