---
title: Experience
subtitle: 
description: 
---

{% extends "topbar.j2" %}

{% block container %}

#  Experience 

##  ROTC 

<img src="media/images/airforce-rotc.jpg" width="150" height="150">

Participated in Air Force Reserve Officer Training Corps from fall 2012-spring 2014. I was also a member of the detachment honor guard. 

##  LLNL 

<img src="media/images/th.jpeg" width="150" height="150">

Worked as a summer intern during the summers of 2013 and 2014 at the Lawrence Livermore National Laboratory. During the 2013 summer, I worked with Matthew Toomey in the Information and Computing Services department learning SQL and JDeveloper and web design. During the 2014 summer I worked with Matthew Harris in the Analytics, Informatics, and Management Systems group. I worked on web development using HTML, CSS, Javascript, Python, and Ruby. 

{% endblock container %}
