---
title: Home
---

{% extends "topbar.j2" %}


  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../bjpitts.github.io/bootstrap/css/jumbotron.css" rel="stylesheet">
    <link href="../../bjpitts.github.io/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../bjpitts.github.io/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <div class="container" id="top">
      <style>
    </style>
  </head>
  {% block container %}
  <body>
     <div class="hero-unit" style="background: url(media/images/7967747.jpeg) center center no-repeat; background-color: grey; background: transparent\9; width: 100%; height: 100%">
      <h1 style="font-size:1000%;">bjpitts</h1>
      <p>
        <br/>
        <h3>School, Experience, Social, and Community Service.</h3>
      </p>
    </div>
  </body>
  {% endblock container %}
